<div class="container">
  <ul>
    <% @devices.each do |device| %>
      <li>
      <%= device.name %>
      <%= device.description %>
      <%= device.price %>
      <%= link_to "details", device_path(device)  %>
      <%= link_to "edit", edit_device_path(device) %>
      <%= link_to 'destroy', device_path(device), method: :delete, data: { confirm: 'Are you sure?' } %>
      </li>
    <% end %>
  </ul>
  <%= link_to "new device", new_device_path %>
</div>
