<%= render 'shared/navbar' %>
<div class="quote-bckg">
  <div class="container pt-3">
      <h4 class="text-center add-device"><%= link_to new_device_path do %>
        <i class="fas fa-plus-circle"></i> Add new device
        <% end %>
      </h4>
    <div class="content">
      <div class="cards">
        <% @devices.each do |device| %>
          <div class="card-device mb-3" style="max-width: 600px;">
            <div class="row no-gutters">
              <div class="img-device col-md-4">
                <% if device.photo.attachment %>
                  <%= cl_image_tag device.photo.key, height: 200, width: 200, crop: :fill, class: 'card-img' %>
                <% end %>
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title"><%= device.name %></h5>
                  <p class="card-text"><small><%= device.description %></small></p>
                </div>
                <div class="price-info">
                  <p class="card-text"><strong class="text-muted"><%= device.price %>€/day</strong></p>
                </div>
              </div>
            </div>
            <div class="action">
              <%= link_to device_path(device) do %>
              <i class="fas fa-search-plus btn-detail"></i>
              <% end %>
              <%= link_to "Rent it!", new_device_rental_path(device, @rental), class: 'btn-detail' %>
            </div>
          </div>
        <% end %>
      </div>
      <div id="map"
        style='width: 100vh; height: 65vh;'
        data-markers="<%= @markers.to_json %>"
        data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
      </div>
    </div>
  </div>
</div>
<%= render 'shared/footer' %>
