<%= render 'shared/navbar' %>
<div class="container">
  <%= simple_form_for @device do |f| %>
  <div class="form-inputs">
    <%= f.input :name %>
    <%= f.association :category, collection: Category.order('name ASC') %>
    <%= f.input :price %>
    <%= f.input :description %>
    <%= f.input :photo, as: :file %>
  </div>
  <div class="form-actions">
    <%= f.submit 'Add a device', class: 'btn btn-primary' %>
  </div>
  <% end %>
</div>
<%= render 'shared/footer' %>
