<div class="container">
  <h2>Rentals faites par le user</h2>
  <% @rentals_done.each do |rental| %>
    <div class="container description-rental">
    <h2><%= rental.device.name %></h2>
      <div class="description-look">
      <%= rental.device.description %>
      <%= rental.device.price %>
      <p>Start date :</p><%= rental.start_date.strftime('%d/%m/%Y') %>
      <p>End date :</p><%= rental.end_date.strftime('%d/%m/%Y') %>
    </div>
    <p>State :</p>
    <%= rental.state %>
  </div>
  <% end %>

  <h2>Rentals faites sur les appareils du user</h2>
  <% @rentals_on_user_device.each do |rental| %>
    <div class="container description-rental">
    <h2><%= rental.device.name %></h2>
      <div class="description-look">
      <%= rental.device.description %>
      <%= rental.device.price %>
      <p>Start date :</p><%= rental.start_date.strftime('%d/%m/%Y') %>
      <p>End date :</p><%= rental.end_date.strftime('%d/%m/%Y') %>
    </div>
    <p>State :</p>
    <%= rental.state %>
    <% if rental.state == "pending" %>
      <%= link_to "Validate", validated_account_rental_path(rental), class:"btn btn-primary", method: :patch %>
      <%= link_to "Refuse", refused_account_rental_path(rental), class:"btn btn-danger", method: :patch %>
    <% end %>
  <% end %>
</div>
