<%= render 'shared/navbar' %>
<div class="quote-bckg">
  <div class="container rental-details">
    <div class="user-rental">
      <h2>Your rentals</h2>
      <div class= "rental-card">
        <% @rentals_done.each do |rental| %>
          <div class="device-name">
            <h3><%= rental.device.name %></h3>
            <% if rental.state == "pending"%>
              <p class="state-p"><%= rental.state.capitalize %></p>
            <% elsif rental.state == "validated" %>
              <p class="state-v"><%= rental.state.capitalize %></p>
            <% elsif rental.state == "refused" %>
              <p class="state-r"><%= rental.state.capitalize %></p>
            <% end %>
          </div>
          <div class="description-look">
            <div class="user-info">
              <h5>AirFooder <%= rental.device.user.first_name %></h5>
              <%= cl_image_tag rental.device.user.photo.key, :transformation=>[
      {:width=>400, :height=>400, :gravity=>"face", :radius=>"max", :crop=>"crop"},
      {:width=>200, :crop=>"scale"}
      ], class: "avatar " %>
              <h5>Pick-up address</h5>
                <p><%= rental.device.user.address %></p>
              <h5>Phone</h5>
                <p><%= rental.device.user.phone_number %></p>
            </div>
              <div class="date-info">
              <h5>Total to pay</h5>
              <p><%= (((rental.end_date - rental.start_date).to_i) +1) * (rental.device.price) %> € for <%= (((rental.end_date - rental.start_date).to_i) +1) %> days</p>
              <h5>Start date</h5>
              <p><%= rental.start_date.strftime('%d/%m/%Y') %></p>
              <h5>End date</h5>
              <p><%= rental.end_date.strftime('%d/%m/%Y') %></p>
            </div>
          </div>
        <% end %>
      </div>
    </div>

    <div class="user-rental">
      <h2>Rentals on your devices</h2>
      <div class="rental-card">
        <% @rentals_on_user_device.each do |rental| %>
          <div class="device-name">
            <h3><%= rental.device.name %></h3>
            <% if rental.state == "pending"%>
              <div class="accept-refuse">
                <p class="state-p"><%= rental.state.capitalize %></p>
                <button id="sweet-alert" class="btn-validation">Accept</button><%= link_to "", validated_account_rental_path(rental), method: :patch, id: "valid-link", class: "hidden"  %>

                <button id="sweet-alert-demo" class="btn-refuse">Decline</button><%= link_to "", refused_account_rental_path(rental), method: :patch, id: "delete-link", class: "hidden"  %>


              </div>
            <% elsif rental.state == "validated" %>
              <p class="state-v"><%= rental.state.capitalize %></p>
            <% elsif rental.state == "refused" %>
              <p class="state-r"><%= rental.state.capitalize %></p>
            <% end %>

          <div class="description-look">
            <div class="user-info">
            <h5>AirFooder <%= rental.user.first_name %></h5>
            <%= cl_image_tag rental.user.photo.key, :transformation=>[
              {:width=>400, :height=>400, :gravity=>"face", :radius=>"max", :crop=>"crop"},
              {:width=>200, :crop=>"scale"}
              ], class: "avatar " %>

              <h5>Address</h5>
              <p><%= rental.device.user.address %></p>
              <h5>Phone</h5>
              <p><%= rental.device.user.phone_number %></p>
            </div>
            <div class="date-info">
              <h5>Total earned</h5>
              <p><%= (((rental.end_date - rental.start_date).to_i) +1) * (rental.device.price) %> € for <%= (((rental.end_date - rental.start_date).to_i) +1) %> days</p>
              <h5>Start date</h5>
              <p><%= rental.start_date.strftime('%d/%m/%Y') %></p>
              <h5>End date</h5>
              <p><%= rental.end_date.strftime('%d/%m/%Y') %></p>
            </div>
          </div>
        </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
<div>
  <%= render 'shared/footer' %>
</div>
